<%= render "shared/header" %>

<%# 単語テスト %>
<div class='main'>
  <div class='main-inner'>
    <div class='main-title'>
      <span>単語テスト</span>
    </div>
    <br><br><br>
    <div class='contents-select'>
      <div class='register-select'>
        <div class='select-text'>
          問題
        </div>
        <div class='select-links'>
        問題
        </div>
      </div>
      <div class='test-select'>
        <div class='select-text'>
          解答
        </div>
        <div class='select-links'>
        解答
        </div>
      </div>
    </div>  
  </div>
</div>
<%# //単語テスト %>
