<%= render "shared/header" %>

<%# word一覧 %>
<div class='index-main'>
  <div class='index-inner'>
      <div class="page-heading">単語の一覧</div>    
    <div class="word-lists">
      <% @words.each do |word| %>
        <li class="post-link">
          <%= "・" %>
          <%= link_to word.words_name, edit_word_path(word) %>
        </li>
      <% end %>
      <div class="no-post-text">
        <% if @words.length == 0 %>
        <%= "まだ投稿がありません" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# //word一覧 %>
