<%= render "shared/header" %>

<%# word一覧 %>
<div class='word-index-main'>
  <div class='main-inner'>
    <div class="word-lists">
      <% @words.each do |word| %>
        <div class="post-link">
          <%= link_to word.words_name, edit_word_path(word) %>
        </div>
      <% end %>
      <div class="no-post-text">
        <% if @words.length == 0 %>
        <%= "まだ投稿がありません" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# //word一覧 %>
