/* 共通css*/
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-appearance: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.3em;
  color: #fff;
  border-radius: 2rem;
}
/* //共通css*/

/* header nav*/
a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;
  background: #fff;
}

a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 3px solid indigo;
  border-radius: 2rem;
}

a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

a.btn-border-shadow--color {
  border-radius: 0;
  background: mediumpurple;
}

a.btn-border-shadow--color:before {
  border-radius: 0;
}
/* //header nav*/

/* Top画面 */
a.btn--orange {
  color: #fff;
  background-color: mediumpurple;
  font-size: 20px;
  padding: 2vh;
  margin: 2vh;
}
/* //Top画面 */


/* 新規登録 */
.registration-content {
  background-color: #fff;
  width: 70%;
  text-align: center;
  padding-bottom: 4vh;
}

.btn--green,
a.btn--green {
  color: #fff;
  background-color: olivedrab;
}

.btn--green:hover,
a.btn--green:hover {
  color: #fff;
  background: yellowgreen;
}
/* //新規登録 */

/* word new */
.btn--purple,
a.btn--purple {
  color: #fff;
  background-color: mediumpurple;
  border-radius: 5vh;
  font-size: 18px;
}
/* //word new */

/* word,sentenceのindex */
a.btn--index {
  color: #fff;
  background-color: thistle;
  font-size: 16px;
  padding: 1vh;
}
/* //word,sentenceのindex */

/* word_answer(navボタンと共通） */
.btn--correct {
  color: #000;
  background-color: #3CB371;
  border-bottom: 5px solid #2E8B57;
  font-size: 18px;
}

.btn--correct:hover {
  margin-top: 3px;
  color: #000;
  background: #3CB371;
  border-bottom: 2px solid #2E8B57;
}

.btn--yellow {
  color: #000;
  background-color: #FF6699;
  border-bottom: 5px solid #CC6699;
  font-size: 18px;
}

.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #FF6699;
  border-bottom: 2px solid #CC6699;
}

/* //word_answer */
