.new-account {
  background-color: #CCCC99;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2vh 0;
}

.registration-main {
  display: flex;
  justify-content: center;
  background-color: #FFF;
  width: 80%;
  padding: 4vh 6vw;
}

.form-wrap {
  width: 100%;
  padding-bottom: 2vh;
}

.form-header {
  width: 100%;
  height: 10vh;
  text-align: center;
  font-size: 18px;
}

.form-header-text {
  line-height: 70px;
  border-bottom: 1px solid #f5f5f5;
  color: olivedrab;
  font-size: 24px;
  font-weight: bold;
}

.form-group {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  margin: 3px;
}

.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.btn-contents {
  padding-top: 4vh;
  text-align: center;
  border: none;
}

/* 新規登録ボタン */
.registration-content {
  background-color: #fff;
  width: 80%;
  text-align: center;
  padding-bottom: 4vh;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--green,
a.btn--green {
  color: #fff;
  background-color: olivedrab;
}

.btn--green:hover,
a.btn--green:hover {
  color: #fff;
  background: yellowgreen;
}
/* //新規登録ボタン */