.new-account {
  background-color: #CCCC99;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2vh 0;
}

.registration-main {
  display: flex;
  justify-content: center;
  background-color: #FFF;
  width: 80%;
  min-width: 450px;
  padding: 4vh 6vw;
}

.form-wrap {
  width: 100%;
  padding-bottom: 70px;
}

.form-header {
  width: 100%;
  height: 10vh;
  text-align: center;
  font-size: 18px;
}

.form-header-text {
  line-height: 70px;
  border-bottom: 1px solid #f5f5f5;
  color: olivedrab;
  font-size: 24px;
  font-weight: bold;
}

.form-group {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  margin-top: 3px;
}

.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.btn-contents {
  width: 100%;
  padding: 3vh 0;
  text-align: center;
  align-items: center;
}

.register-btn {
  background: olivedrab;
  color: #fff;
  width: 30%;
  height: 6vh;
  font-size: 20px;
  margin-bottom: 3vh;
}