* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: lavender;
}

.nav {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.lists-left {
  display: flex;
  list-style: none;
  padding: 0 2vw;
}

.lists-right {
  display: flex;
  list-style: none;
  padding: 0 2vw;
}

li {
  margin: 0 1vw;
}