/* ヘッダー */
* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

.lists-right {
  display: flex;
  list-style: none;
  margin-right: 1vw;
}

.my-page {
  text-decoration: none;
  margin: 0 1vw;
  color: olivedrab;
  padding: 7px 12px;
}

.logout {
  text-decoration: none;
  color: olivedrab;
  padding: 7px 12px;
  margin: 0 1vw;
}

.login {
  text-decoration: none;
  padding: 7px 12px;
  margin: 0 1vw;
  color: olivedrab;
}

.sign-up {
  text-decoration: none;
  padding: 7px 12px;
  margin: 0 1vh;
  color: olivedrab;
}

/* //ヘッダー */

/* メイン画面 */
.main {
  margin: 3vw;
}
.main-title {
  font-size: 35px;
}

.contents-select {
  display: flex;
  justify-content: space-between;
}

.register-select {
  display: inline-block;
  background-color:  #CC99CC;
  height:  400px;
  width: 45%;
  padding: 2vh;
}

.select-text {
  font-size: 25px;
  text-align: center;
}

.select-links {
  display:flex;
  flex-flow: column;
  text-align: center;
  padding: 2vh;
}

.select-btn {
  text-decoration: none;
  background-color: #FFCCFF;
  font-size: 20px;
  padding: 2vh;
  margin: 2vh;
}

.test-select {
  display: inline-block;
  background-color:  #CC99CC;
  height:  400px;
  width: 45%;
  padding: 2vh;
}

.select-test-btn {
  text-decoration: none;
  background-color: #FFCCFF;
  font-size: 20px;
  padding: 2vh;
  margin: 1vh;
}

/* //メイン画面 */
