/* ヘッダー */
* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

.lists-right {
  display: flex;
  list-style: none;
}

li {
  margin: 0 1vw;
}
/* ボタン(deviceのボタンと共通css)*/
body {
  padding: 30px;
}

a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;
  background: #fff;
}

a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 3px solid #000;
  border-radius: 2rem;
}

a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

a.btn-border-shadow--color {
  border-radius: 0;
  background: mediumpurple;
}

a.btn-border-shadow--color:before {
  border-radius: 0;
}
/* //ボタン*/

/* //ヘッダー */

/* メイン画面 */
.main {
  background-color: lavender;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4vh 0;
}

.main-inner {
  justify-content: center;
  width: 90%;
  padding: 4vh 6vw;
}

.main-title {
  font-size: 35px;
}

.contents-select {
  display: flex;
  justify-content: space-between;
}

.register-select {
  display: inline-block;
  border-radius: 60px;
  background-color: #FFF;
  height:  500px;
  width: 45%;
  min-width: 350px;
  padding: 2vh;
}

.select-text {
  font-size: 25px;
  text-align: center;
}

.select-links {
  display:flex;
  flex-flow: column;
  text-align: center;
  padding: 2vh;
}

.test-select {
  display: inline-block;
  border-radius: 60px;
  background-color: #FFF;
  height:  500px;
  width: 45%;
  min-width: 350px;
  padding: 2vh;
}

/* ボタン */
a.btn--orange {
  color: #fff;
  background-color: mediumpurple;
  border-bottom: 5px solid indigo;
  font-size: 20px;
  padding: 2vh;
  margin: 2vh;
}
a.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: mediumpurple;
  border-bottom: 2px solid indigo;
}
/* //ボタン */

/* //メイン画面 */
