/* ヘッダー */
* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

.lists-right {
  display: flex;
  list-style: none;
  margin-right: 1vw;
}

.my-page {
  text-decoration: none;
  margin: 0 1vw;
  color: olivedrab;
  padding: 7px 12px;
}

.logout {
  text-decoration: none;
  color: olivedrab;
  padding: 7px 12px;
  margin: 0 1vw;
}

.login {
  text-decoration: none;
  padding: 7px 12px;
  margin: 0 1vw;
  color: olivedrab;
}

.sign-up {
  text-decoration: none;
  padding: 7px 12px;
  margin: 0 1vh;
  color: olivedrab;
}

/* //ヘッダー */

/* メイン画面 */
.main-title {
  font-size: 35px;
}

.contents-list {
}

.register-link {
}

.register-btn {
  text-decoration: none;
}

.test-link {

}

.word-test-btn {
  text-decoration: none;
}

.sentence-test-btn {
  text-decoration: none;
}

/* //メイン画面 */
