.user-main {
  background-color: lavender;
  padding: 4vh 0;
  display: flex;
  justify-content: center;

}

.user-inner {
  width: 70%;
  border-radius: 60px;
  background-color: #FFF;
  padding: 4vh 6vw;
}

.my-page-title {
  font-size: 35px;
  color: indigo;
  font-weight: bold;
  padding-bottom: 6vh;
}

.user-wrapper {
  padding-bottom: 4vh;
  font-size: 24px;
}

.study-days {
  padding-bottom: 6vh;
  color: indigo;
  font-weight: bold;
}

.profile-title {
  width: 50%;
  padding-bottom: 2vh;
  border-bottom: 1px solid indigo;
  line-height: 20px;
}

.profile-content {
  font-size: 18px;
  padding: 2vh;
}