.word-main {
  background-color: lavender;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4vh 0;
}

.word-inner {
  justify-content: center;
  border-radius: 60px;
  background-color: #FFF;
  width: 70%;
  padding: 4vh 6vw;
}

.page-heading {
  font-size: 28px;
  font-weight: bold;
  padding: 2vh;
  text-align: center;
}

.form__wrapper {
  display: flex;
  font-size: 14px;
  justify-content: center;
}

.field {
  padding: 1vh 0;
  font-size: 16px;
}

.text-form {
  width: 100%;
  padding: 14px 14px 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 18px;
  resize: none;
}

.actions {
  text-align: center;
  padding: 3vh 0;
}

/* 登録ボタン(devise.cssと共通) */
.btn--purple,
a.btn--purple {
  color: #fff;
  background-color: mediumpurple;
}

.btn--purple:hover,
a.btn--purple:hover {
  color: #fff;
  background: blueviolet;
}
/* //登録ボタン */