
/* メイン画面 */
.main {
  background-color: lavender;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4vh 0;
}

.main-inner {
  justify-content: center;
  width: 90%;
  padding: 4vh 6vw;
}

.main-title {
  font-size: 35px;
}

.contents-select {
  display: flex;
  justify-content: space-between;
}

.register-select {
  display: inline-block;
  border-radius: 60px;
  background-color: #FFF;
  height:  500px;
  width: 45%;
  min-width: 350px;
  padding: 2vh;
}

.select-text {
  font-size: 25px;
  text-align: center;
}

.select-links {
  display:flex;
  flex-flow: column;
  text-align: center;
  padding: 2vh;
}

.test-select {
  display: inline-block;
  border-radius: 60px;
  background-color: #FFF;
  height:  500px;
  width: 45%;
  min-width: 350px;
  padding: 2vh;
}
/* //メイン画面 */
